* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body {
   font-family:Helvetica, Arial,sans-serif;
}
.main-header {
    display: flex;
    padding:10px ;
    /* gap:20px; */
}
.header-item {
    /* border:1px solid red; */
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 190px;
    height: 70px;
    font-family:  Helvetica, sans-serif;
    padding:40px 0px;
}
.header-item:hover {
    border-bottom:2px solid red;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
}
.header-img-div {
    background-color: red;
    width:70px ;
    height:70px;
    background-color:#F8F8F8;
    border-radius: 60%;
}
.header-item:hover .header-img-div {
    background-color:#7CCCCE;
}

.Background-size {
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.dining-out-img {
    background-image: url("../images/header-images/dinning-out.avif");
}
.header-item:hover .dining-out-img {
  background-image: url("../images/header-images/dinning-out-hover.avif");
}
.delivery-img {
    background-image: url("../images/header-images/delivery.webp");
}header-images/
 .header-item:hover .delivery-img{
  background-image: url("../images/header-images/delivery-hover.webp");
}
.night-life-img {
    background-image: url("../images/header-images/nightlife.webp");
}
.header-item:hover .night-life-img {
  background-image: url("../images/header-images/nightlife-hover.webp");
}


.main-header .text {
 font-size: 20px;
 padding:25px 3px;
 margin-left: 5px;
 color:black;
}

.text:hover {
    color:#EF4F5F;
}
/* food-category */

.row {
    display: flex;
    flex-flow: row;
}
.column {
    display: flex;
    flex-flow:column;
}
.food-category {
    margin:20px 10px;
    border:1px solid blue;
    overflow-x: scroll;
    padding:20px 0px;
    background-color:#F8F8F8;
}
.food-category::-webkit-scrollbar
{
    display: none;
}
.food-item-box {
    /* border:1px solid blue; */
    background-color:transparent;
    padding:10px;
    display: flex;
    flex-flow:column;
    width: 210px;
    height: 210px;
}
.food-item-text {
    border:1px solid blue;
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    color:#363636;
}
.image-size {
   width:150px;
   height:150px; 
   border-radius: 50%;
} 
.food-category-title {
    padding-left: 30px;
    font-size: 30px;
    margin-bottom:15px;
}
