\* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-flow: column;
}

.sp-between {
    justify-content: space-between
}

.container {
    /* border:1px solid red; */
    width: 100%;
    padding: 5px 20px;
    gap: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    transition:all 0.3 ease-in-out;
}

.img {
    border: 1px solid black;
    width: 350px;
    height: 315px;
    overflow: hidden;
    border-radius: 10px;
}

img {
    width:100%;
    height: 100%;
    object-fit: cover;
    transition:transform 0.4s ease;
}

.box {
    /* border: 2px solid green; */
    background-color: white;
    border-radius: 10px;
    width: 250px;
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

.box:hover {
    width: 350px;
    margin:0px 5px;
    /* transform: scale(1.05); */
    transform: scaleX(1.05);
    box-shadow: 0 4px 15px gray;
}

.box:hover .content {
    display: flex;
}

.box:hover .img {
    width: 350px;
    height: 250px;
    /* transform: scale(1.1); */
}

.content {
    padding:5px 10px;
    white-space: nowrap;
    display: none;
    /* gap:5px; */
}

.product-name,
.product-description {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}