/*Header responsive*/
@media only screen and (max-width:750px){
   
   .header-container
   {
    position: relative;
   }
    .long-image
    {
        z-index: 10;
        display: flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:65px;
        right:0px;
        background-color:white;
        width:230px;
        height: 250px;
        /* border:1px solid red; */
        display: none;
    }
    .header-content01
    {
        width:100%;
        /* border:1px solid red; */
        justify-content: space-between;
    }
    .img1
    {
        /* border:1px solid red; */
        width:200px
    }
    
    .img3 img
    {
        width: 120px;
        border-radius: 25px;
        border:1px solid gray;
        box-shadow:
         2px 2px 2px rgba(0,0,0,0.5),
         -2px -2px 2px rgba(0,0,0,0.5);
    }
    .arrow-container
  {
    display: flex;
    width: 80px;
    border:1px solid lime;
    display: flex;

  }
  .arrow-container button {
    color:black;
  }
  .arrow 
  {
    font-size:50px;
    font-weight: bold;
  }
  
    .header1
    {
        position: relative;
    }
    /*Header two */
    .header-container
    {
        border:1px solid red;
        height: 150px;
    }
    .header02
    {
        height: 100px;
        flex-flow:row;
        justify-content: space-between;
        background-color:rgba(0,0,0,1);
        position:relative;
        /* border:1px solid red; */
    }
    .header02-items:nth-child(1){
        border-bottom-left-radius: 0px;
}
    .header02-items
    {
        display: flex;
        flex-flow:row;
        width: 300px;
        background-color: blanchedalmond;
        justify-content:space-around;
        /* border:1px solid red; */
    }
    .menu-items
  {
    display: none;
    flex-flow:column;
    position:absolute;
    top:75px;
    left:0px;
  }
  .menu-items .header02-items
  {
    height: 86px;
  }
  .menu-items .item
  {
    flex-flow:row;
    justify-content: space-between;
    padding:2px 25px;
    /* border:3px solid purple; */
    height: 90px;
  }

    .icon-menu , .icon-address
    {
        display: flex;
        height: 70px;
        color:gray;
        padding:0px 5px;
    }
    .icon-address
    {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .fa-address-card
    {
        font-size: 50px;
        /* border:1px solid red; */
        border-radius:4px;
        overflow:hidden;
    }
    .fa-bars
    {
         font-size:50px
    }
  button {
    background-color:transparent;
    border:none;
    color:white;
  }
  /*main section*/
  .main-section
  {
    width: 100%;
    /* font-size:19px; */
  }
  .section01 .itemOne img
  {
    width: 100%;
    height: 73%;
  }
  .section01 .itemOne .description
  {
    border:1px solid red;
     height: 35%;
  }

}