/*Header responsive*/
@media only screen and (max-width:750px){
   
  .container {
    border:5px solid brown;
   
  }
   .header-container
   {
    position: relative;
   }
    .long-image
    {
        display: flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:65px;
        right:0px;
        background-color:white;
        width:230px;
        height: 250px;
        /* border:1px solid red; */
        display: none;
        z-index: 10;
    }
    .header-content01
    {
        width:100%;
        /* border:1px solid red; */
        justify-content: space-between;
    }
    .img1
    {
        /* border:1px solid red; */
        width:200px
    }
    
    .img3 img
    {
        width: 120px;
        border-radius: 25px;
        border:1px solid gray;
        box-shadow:
         2px 2px 2px rgba(0,0,0,0.5),
         -2px -2px 2px rgba(0,0,0,0.5);
    }
    .arrow-container
  {
    display: flex;
    width: 80px;
    border:1px solid lime;
    display: flex;

  }
  .arrow-container button {
    color:black;
  }
  .arrow 
  {
    font-size:50px;
    font-weight: bold;
  }
  
    .header1
    {
        position: relative;
    }
    /*Header two */
    .header-container
    {
        border:1px solid red;
        height: 150px;
    }
    .header02
    {
        height: 100px;
        flex-flow:row;
        justify-content: space-between;
        background-color:rgba(0,0,0,1);
        position:relative;
        /* border:1px solid red; */
    }
    .header02-items:nth-child(1){
        border-bottom-left-radius: 0px;
}
    .header02-items
    {
        display: flex;
        flex-flow:row;
        width: 300px;
        background-color: blanchedalmond;
        justify-content:space-around;
        /* border:1px solid red; */
    }
    .menu-items
  {
    display: none;
    flex-flow:column;
    position:absolute;
    top:75px;
    left:0px;
  }
  .menu-items .header02-items
  {
    height: 86px;
  }
  .menu-items .item
  {
    flex-flow:row;
    justify-content: space-between;
    padding:2px 25px;
    /* border:3px solid purple; */
    height: 90px;
  }

    .icon-menu , .icon-address
    {
        display: flex;
        height: 70px;
        color:gray;
        padding:0px 5px;
    }
    .icon-address
    {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .fa-address-card
    {
        font-size: 50px;
        /* border:1px solid red; */
        border-radius:4px;
        overflow:hidden;
    }
    .fa-bars
    {
         font-size:50px
    }
  button {
    background-color:transparent;
    border:none;
    color:white;
  }
  /*main section*/
  .main-section
  {
    /* border:2px solid blue; */
    width: 100%;
    height: 100%;
    flex-flow: column;
    gap:0px;
  }
  .section01
  {
    flex-flow:column;
    width: 100%;
    border:1px solid black;
    /* height: 90%; */
  }
  .section01 .itemOne
  {
    /* border:1px solid red; */
    height: 60%;
  }
  .second-section 
  {
    /* border:5px solid red; */
    padding:2px 0px;
      width: 100%;
      height:40%;
  }
  .section02
  {
    width: 100%;
    flex-flow:column;
    text-align: center;
  }
  .row .description
  {
  /* border:1px solid black; */
  font-size:13px;
  }
  .section02 .itemThree .description
  {
    text-align: center;
  }
  /*end section*/
  .end-section
  {
    /* display: none; */
   width: 100%;
  }
  .end-section01
  {
    flex-flow:column;
  }
  .checkbox-section
  {
    width: 100%;
  }
  .end-section02
  {
    flex-flow:column;
    width: 100%;
  }
  .list-section
  {
    width: 100%;
    text-align: center;
  }
  .social-section
  {
    width: 100%;
  }
  .term
  {
    text-align: center;
    width: 100%;
    /* border:1px solid red; */
  }
  .term-image
  {
    margin:0px auto;
  }
  .term-section
  {
    width:100%;
    text-align: center;
  }
  /*main02*/

  .main02
  {
    /* border:4px solid lime; */
    width: 100%;
    flex-flow:column;
    /* display: none; */
  }
  .box img {
    width: 100%;
  };
  
  .main2-section01 
  {
    /* border:2px solid red; */
    width: 100%;
  }
  
  .main2-section02 
  {
    width: 100%;
    gap:5px;
  }
  .main2-section03 
  {
    width: 100%;
    gap:5px;
  }
  .box .description
  {
    /* border:4px solid lime; */
    font-size:30px;  
  }
  .box img 
  {
    height: 80%;
  }
  .box
  {
    height: 350px;
    /* border:1px solid red; */
  }
  .v1
  {
    display: none;
  }
.viewMore
{
  width: 100%;
  height: 100px;
}
  .box6
  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid lime; */
    width: 100%;
  }
  .text
  {
    text-align: center;
  }
  .section02 .itemThree .description
  {
    /* border:1px solid lime; */
    padding:30px 10px;
    font-size: 24px;
    height: 250px;
  }
  .section02 .itemThree img 
  {
    height: 255px;
  }

}