/*Header responsive*/
@media only screen and (max-width:750px){
    .long-image
    {
        display: none;
    }
    .img1
    {
        /* border:1px solid red; */
        width:200px
    }
    
    .img3 img
    {
        width: 120px;
        border-radius: 25px;
        border:1px solid gray;
        box-shadow:
         2px 2px 2px rgba(0,0,0,0.5),
         -2px -2px 2px rgba(0,0,0,0.5);
    }
    .arrow-container
  {
    display: flex;
    width: 80px;
    border:1px solid lime;
    display: flex;

  }
  .arrow-container button {
    color:black;
  }
  .arrow 
  {
    font-size:50px;
    font-weight: bold;
  }
  
    .header1
    {
        justify-content: space-between;
    }
    /*Header two */
    .header-container
    {
        border:1px solid red;
        height: 150px;
    }
    .header02
    {
        height: 100px;
        flex-flow:row;
        justify-content: space-between;
        background-color:rgba(0,0,0,1)
        /* border:1px solid red; */
    }
    .header02-items
    {
        display: none;
        margin-bottom:5px;
    }

    .icon-menu , .icon-address
    {
        display: flex;
        height: 70px;
        color:gray;
        padding:0px 5px;
    }
    .icon-address
    {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .fa-address-card
    {
        font-size: 50px;
        /* border:1px solid red; */
        border-radius:4px;
        overflow:hidden;
    }
    .fa-bars
    {
         font-size:50px
    }
  button {
    background-color:transparent;
    border:none;
    color:white;
  }
  .item
  {
   position:absolute;
   top:0;
   left:0;
  }
    
}