
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.row
{
    display: flex;
}
.column
{
    display: flex;
    flex-flow:column
}
.center
{
    justify-content: center;
    align-items: center;
}
.container {
    /* border:1px solid red; */

}
.header-container
{
    /* border:1px solid black; */
    background-color: #F5F5F5;
    width:100% ;
    height: 200px;
    padding:1px 5px;
    align-content: center;
}
.header1
{
    width: 100%;
    border-bottom:2px solid #DEDEDE;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
/* total width is 1000px*   120*3 */
.img1 ,.img2 , .img3 
{
   /* border:1px solid lime; */
   background-color: #F5F5F5;
   width:120px ;
   height: 65px;
}
.img4,  .img5 , .img6
{
  /* border:1px solid lime; */
  width: 200px;
  height: 65px;
}
.img2 img , .img3 img 
{
    width: 70px;
    height: 45px;
}
.img4 img  , .img5 img , .img6 img
{
    border:4px groove;
    width: 190px;
    height: 60px;
}

.header-items
{
    margin-right:2px;
    /* background-color: white; */
}
.header-items:hover 
{
   /* background-color:red; */
   box-shadow: 0px 0px 3px gray;
   transform:scale(1.01);
   transition: transform 0.5s ease-in-out;
}
.img1
{
    background: white url(/Images/Header01/logo-pokemon-79x45.png) no-repeat center;
    /* box-shadow: 5px 0px 4px gray; */
      box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.long-image
{
    opacity: 1;
    transition: opacity 0.3 ease;
}
.long-image:hover .opacity
{
  opacity:0.5;
}
.long-image:hover .opacity:hover
{
    opacity: 1;
}

/*Header 02*/
.header02
{
    width: 100%;
    border:1px solid red;
    background-color:#F5F5F5;
}
.header02-items
{
    border:1px solid lime;
    width: 160px ;
    height: 80px;
}
