* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.row
{
    display: flex;
}
.column
{
    display: flex;
    flex-flow:column
}
.center
{
    justify-content: center;
    align-items: center;
}
.container {
    border:1px solid red;

}
.header-container
{
    border:1px solid black;
    background-color: #F5F5F5;
    width:100% ;
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding:1px 5px;
}
/* total width is 1000px*   120*3 */
.img1 ,.img2 , .img3 
{
   border:1px solid lime;
   background-color: #F5F5F5;
   width:100px ;
   height: 65px;
}
.img4,  .img5 , .img6
{
  background-color: #F5F5F5;
  border:1px solid lime;
  width: 200px;
  height: 65px;
}
.img2 img , .img3 img 
{
    width: 70px;
    height: 45px;
}
.img4 img  , .img5 img , .img6 img
{
    border:4px groove;
    width: 190px;
    height: 60px;
}

.header-items
{
    margin-right:2px;
    background-color: white;
}
.header-items:hover 
{
   /* background-color:red; */
   box-shadow: 0px 0px 3px gray;
   transform:scale(1.01);
   transition: transform 0.5s ease-in-out;
}
.img1
{
    background: white url(/Images/Header01/logo-pokemon-79x45.png) no-repeat center;
}

.long-image
{
    opacity: 1;
    transition: opacity 0.3 ease;
}
.long-image:hover .opacity
{
  opacity:0.5;
}
.long-image:hover .opacity:hover
{
    opacity: 1;
}