* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container {
    border: 1px solid black;
    width: 1200px;
    margin: 0px auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.img {
    border:1px solid black;
    height: 80px;
}
