
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.row
{
    display: flex;
}
.column
{
    display: flex;
    flex-flow:column
}
.center
{
    justify-content: center;
    align-items: center;
}

.header-container
{
    /* border:1px solid black; */
    background-color: #F5F5F5;
    width:100% ;
    height: 200px;
    padding:1px 5px;
    align-content: center;
}
.header1
{
    width: 100%;
    border-bottom:2px solid #DEDEDE;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
/* total width is 1000px*   120*3 */
.img1 ,.img2 , .img3 
{
   /* border:1px solid lime; */
   background-color: #F5F5F5;
   width:120px ;
   height: 65px;
}
.img4,  .img5 , .img6
{
  /* border:1px solid lime; */
  width: 200px;
  height: 65px;
}
.img2 img , .img3 img 
{
    width: 70px;
    height: 45px;
}
.img4 img  , .img5 img , .img6 img
{
    border:4px groove;
    width: 190px;
    height: 60px;
}

.header-items
{
    margin-right:2px;
    /* background-color: white; */
}
.header-items:hover 
{
   /* background-color:red; */
   box-shadow: 0px 0px 3px gray;
   transform:scale(1.01);
   transition: transform 0.5s ease-in-out;
}
.img1
{
    background: white url(/Images/Header01/logo-pokemon-79x45.png) no-repeat center;
    /* box-shadow: 5px 0px 4px gray; */
      box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.long-image
{
    opacity: 1;
    transition: opacity 0.3 ease;
}
.long-image:hover .opacity
{
  opacity:0.5;
}
.long-image:hover .opacity:hover
{
    opacity: 1;
}

/*Header 02*/
.header02
{
    width: 100%;
    /* border:1px solid red; */
    background-color:#F5F5F5;
    padding:5px;
}
.header02-items:nth-child(1){
        border-bottom-left-radius: 20px;
        background-color: gray;
}
.header02-items:nth-child(1):hover{
        background-color: gray;
         box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
        
}
.header02-items
{
    /* border:1px solid lime; */
    width: 150px ;
    height: 110px;
}
.header02-items
{
    /* border:1px solid red; */
    overflow: hidden;
}
.item
{
   width: 100%;
   height: 100%;
}

.header02-items:hover  .rotation
{
    transform: rotate(360deg) scale(1.1);
    /* background-color:gray; */
    overflow: hidden;
}
.header02-items:hover  .title
{
    color:white;
    text-shadow: 0px 0px 5px black;
}
.header02-items:hover
{
   box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.bg-size02
{
    width: 67px;
    height: 67px;
    background-size: 80px 80px;
    border-radius: 50%;  
    /* border:1px solid lime; */
    transition: transform 0.5s ease; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.title
{
    margin-top:5px;
    align-self: center;
}

.rabbit-logo
{
    gap:2px;
    /* border:1px solid red; */
    width: 75px;
    height: 75px;
}
.rabbit-logo img
{
    width: 100px;
    height: 100px;
}

.poki-ball
{
      background-image:url(/Images/Header02-icons/pokeball-icon-27047.jpg);
      border-radius: 50%;  
}
.border-red
{
    border-bottom:6px solid red;
}
.pokiball:hover
{
    background-color:red;
    /* border:1px solid red; */
}
.game-pad
{ 
    background-image: url(/Images/Header02-icons/game_controller02.png); 
}
.border-orange
{
    border-bottom:6px solid orange;
}
.videogame:hover
{
    background-color:orange;
    /* border:1px solid red; */
}
.trading-card
{
   background-image: url(/Images/Header02-icons/tradding_cards.png);  
   /* transform: rotate(350deg); */
}
.trading-item:hover {
    background-color:#E6BC2F ;
}
.border-light-orange /*card trade border*/
{
    border-bottom:6px solid #E6BC2F;
}
.animation
{ 
    background-image: url(/Images/Header02-icons/playButton.png); 
}
.border-green 
{
    border-bottom:6px solid #4DAD5B;
}
.animation-item:hover
{
    background-color:#4DAD5B ;
}
.cup
{ 
    background-image: url(/Images/Header02-icons/cup.png); 
    background-size: 65px 65px;
}
.cup-item:hover
{
    background-color:#30A7D7;
}
.border-blue
{
    border-bottom:6px solid #30A7D7;
}
.news-paper
{ 
    background-image: url(/Images/Header02-icons/news-paper.png );
    background-size: 65px 65px;
}
.news-paper-item:hover
{
    background-color: #1B53BA;
}
.border-dark-blue
{
    border-bottom:6px solid #1B53BA;
}
.icon-address , .icon-menu
{
    display: none;
}
/*Arrow*/
.arrow-container
{
  display:none;
}
/*main section*/
.main-section 
{
    /* border:1px solid blue; */
    background-color: white;
    width:920px;
    height: 850px;
    margin:5px auto;
    padding:5px;
      box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.section01
{
    width:70%;
    height:100%;
    background-color: whitesmoke;
    padding:5px;
    gap:5px;
    /* border:1px solid black; */
}
.section02
{
  width: 30%;
  height:100%;
  background-color:whitesmoke;
  padding:5px;
  gap:5px;
}
.section01 .itemOne
{
    width: 100%;
    height: 65%; 
    background-color:red;
    /* border: 1px solid black; */
    box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.second-section 
{
    height: 35%;
}
.section01 .itemOne img
{
    width: 100%;
    height: 70%;
}
.section01 .itemOne .description
{
    width: 100%;
    height: 100%;
    background-color: #DAA31C;
    padding:30px 5px;
    gap:15px;
    text-align: center;
    font-size:18px;
    

}
.description .one 
{
    color:white;
    text-shadow: 2px 2px 2px black;
}

.section01 .row
{
    margin-top:0px;
    gap:5px;
}
.section01 .column-1 , .section01 .column-2
{
    width: 50%;
    height: 289px;
    background-color: orange;
    text-align: center;
    color:white;
    /* border:1px solid black;    */
    box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.section01 .column-1 img , .section01 .column-2 img
{
  width: 100%;
  height: 75%;
  
}
.section01 .column-1 .description , .section01 .column-2 .description
{
    width: 100%;
    height: 25%;
    background-color: #975FE2;
    padding:5px 0px;
    text-shadow: 2px 2px 2px black;
}
.section01 .column-2 .description
{
    background-color: #B89355;
    text-shadow: 2px 2px 2px black;

}
.section02 .itemOne , .section02 .itemTwo
{
    width: 100%;
    height: 35%;
    background-color: aquamarine;
    /* border:1px solid black; */
    padding:3px 5px;
    border-radius: 6px;
    color:white;
    text-shadow: 2px 2px 2px black;
    box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);

}
.section02 .itemOne img , .section02 .itemTwo img
{
    width: 100%;
    height: 75%;
    border-radius: 2px;
    /* border:1px solid black; */
    box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.section02 .itemOne .description , .section02 .itemTwo .description
{
    text-align: center;
    width: 100%;
    height: 23%;
    font-size:20px;
    /* border:1px solid black; */
    margin-top:px;
}

.section02 .itemTwo
{
    width: 100%;
    height: 35%;
    background-color: purple;
}
.section02 .itemThree
{
    width: 100%;
    height: 35%;
    background-color:#DA471B;
    display: flex;
    flex-flow:row;
    padding:5px;
    gap:5px;
    text-align: left;
    line-height: 30px;
    border-radius: 6px;
    box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.section02 .itemThree img
{
    height: 100%;
    width: 55%;
    /* border: 1px solid  black; */
}
.section02 .itemThree .description
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* border:1px solid red; */
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}
/*main02 section*/
.main02 {
     margin:5px auto;
     width:920px;
     /* height: 850px; */
     box-shadow: 
      5px 0 5px -5px rgba(0, 0, 0, 0.5), 
      -5px 0 5px -5px rgba(0, 0, 0, 0.5);
      background-color: white;
      display: flex;
      gap:10px;
      justify-content: center;


}

.main02 .section01
{
  border:1px solid black;
  display: flex;
  flex-flow:column;
}
.main02 .section02
{
  /* border:2px solid red; */
   display: flex;
  flex-flow:column;

}
.main02 .section03
{
  
  /* border:2px solid green; */
   display: flex;
  flex-flow:column;
}
.box {
    display: flex;
    flex-flow:column;
    padding:5px;
    /* border:1px solid lime; */
}
.box img
{
    /* border:2px solid purple ; */
    width: 290px;
    height: 150px;
     border-top-left-radius:10px ;
     border-top-right-radius:10px ;
}
.box .description
{
    padding:5px 0px 0px 0px;
    width:290px;
    height: 80px;
    text-align:center;
    color:white;
    text-shadow:0px 0px 2px black;
    background-color: orange;
    font-size: 24px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
.box6
{
    width:300px;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-size: 40px;
    color:gray;
    text-shadow: 0px 0px 5px yellowgreen;
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.box1 .description,.box7 .description,.box9 .description
{
  background-color: green;
}
.box3 .description,.box4 .description
{
  background-color: #1B53BA;
}
.box4 .description , .box2 .description
{
    background-color:#DA471B;
}
.viewMore
{
    width: 300px;
    height: 100px;
    background-color: #B89355;
}
.viewMore .text
{
    font-size:30px;
    color:white;
    text-shadow: 2px 2px 2px gray;
}
.v1 {
    border-bottom-left-radius: 25px;
}
.v2 {
     border-bottom-right-radius: 25px;
}
.main02
{
    /* display: none; */
}
.main-section
{
    /* display: none; */
}
.header-container {
    /* display: none; */
}  
.end-section 
{
    color:white;
    margin:5px auto;
    width:920px;
    border:1px solid red;
    background-color:black;
    border-radius:8px;
}
.login-section
{
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    gap:10px;
    padding:20px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.login-section h3 
{
    font-size: 25px;
}
.checkbox-section
{
    width: 50%;
}
/*login*/
 input
 {
    height: 35px;
    font-size: 18px;
    padding:5px;
 }
.login
{
    width:330px;
    
    /* border:1px solid red; */
}
select
{
    width: 163px;
    height:35px ;
    margin-right:5px;
}
 .date 
{
    width:163px ; 
}
.checkbox-section
{
    justify-content: center;
    align-items: center;
    gap:30px;
    /* border:1px solid red; */
}
.label
{
    display: flex;
    align-items: center;
    gap:5px;
    /* border:1px solid red; */
    height: 35px;
}

.label input[type=checkbox] {
    width: 50px;
    height: 30px;
}
.labels
{
    /* border:1px solid lime; */
    display: flex;
    flex-flow:column;
}
.checkHeader
{
    /* margin-left:10px; */
    font-size: 20px;
    text-shadow: 0px 0px 2px yellow;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.login-btn
{
    padding:14px 20px;
    background-color: #888888;
    border-radius: 8px;
    border:none;
}
/*end section two*/
ul 
{
    list-style: none;
}
.list-section , .social-section , .term-section
{
    width: 33%;
}
.list-section 
{
    /* border:1px solid lime; */
    display:flex;
    gap:20px;
}
.list-section li
{
    padding:5px;
    font-size: 17px;
    cursor: pointer;
}
.social-icon
{
    /* border:1px solid lime; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap:10px;
    font-size: 45px;
    cursor: pointer;

}
.fa-facebook
{
    color:blue;
}
.fa-square-instagram
{
    color:#DA471B;
}
.fa-square-twitter
{
  color:lightskyblue;
}
.fa-youtube
{
    color:red;
}
.fa-square-pinterest
{
    color:#DA471B;
}
/*term section*/

.term 
{
    width: 100%;
    /* border:1px solid lime; */
    gap:10px;
    padding:5px
}
.term-list li
{
    padding:5px 0px;
    cursor: pointer;
}
.term-image
{
    width: 90px;
    height: 50px;
    background-color: white;
    border-radius: 1px;
    margin-left: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.term-list
{
    font-size:8px;
    font-weight: bold;
}
.copywrite
{
    font-size: 10px;
    font-weight: bold;
}
.caru
{
    color:black;
    background:yellow;
    width: 60px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black; 
}
.end-section01
{
    margin-bottom:20px;
}

