.container {
    width: 390px;
    overflow: hidden;
}
.nav-container {
    /* justify-content: space-between; */
}
.side-menu {
    display: flex;
    /* border:1px solid red; */
    width: 60px;
     
}
.side-menu i {
    background-color:transparent;
    font-size: 35px;
}
.nav-logo-img {
    width:80px;
    height: 40px;
}
.nav-links {
    display: none;
}
.get-franchise {
    display: none;
}
.order-online {
     
    background-color: red;
    padding:5px 3px;
    border-radius: 25px;
    border:1px solid white;
    font-size: 12px;
}
.order-online::after {
    display: none;
}

.order-online::before {
     font-family: "FontAwesome";
     content: "\f061";
     color:red;
     background-color: white;
     border-radius: 50%;
     margin-right:3px;
     width: 18px;
     height:18px ;
     text-align: center;
     font-size: 15px;  
     /* transform: rotate(300deg); */
     display: flex;
     align-items: center;
     justify-content: center;
}

.wellcome-section-cards {
    width: 100%;
    overflow: hidden;
}
.cards {
    flex: 0 0 auto;
}
.wellcome-row {
    display: flex;
    overflow-x:scroll;
}
.welcome-row::webkit-scrollbar {
    display: none;
    height: 2px;
}

.card-image-div {
    width:200px;
    height: 120px; 
}

.rounded-link
{
    padding:10px 20px;
    font-size: 14px;
}

.image-and-description  {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lime; */

}
.building-images {
    order:1;
    width:370px;
    border:1px solid white;
    margin-bottom: 20px;
}
.address-section {
    order:2;
}

.Row-Block-Address {
    /* border:1px solid lime; */
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}
.village-block 
{
    /* border:2px solid blue; */
    gap:20px;
    margin-top: 20px;
}

.village-block-container {
    margin-top:0px;
    justify-content: space-evenly;
}

.village-block-image-and-description {
    /* border:1px solid lime; */
    flex-flow:column;
    text-align: center;
}
.village-img-section
{
    width:100%;
    border:1px solid gray;
}

.village-address {
    width: 100%;
    justify-content: center;
    gap:10px;
    /* border:1px solid yellow; */
    margin: 0px;
}
.village-block .get-direction > .rounded-link
{
padding:5px 10px
}
.big-text {
    font-size: 1.875rem;
    text-align: center;
}
.box-row {
    flex-flow:column;
     justify-content: center;
    align-items: center;
    gap:10px;
}
.box-row .box {
  width: 100%;
  border-radius: 5px;
}
.end-footer {
flex-flow:column;
text-align: center;
}
.end-section-01 {
    /* border: 1px solid red; */
    flex-flow:column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.end-section-01 .content{
    /* border:1px solid red; */
     justify-content: center;
     text-align: center;
     height:70%;
}
.term-and-condition
{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.end-section-01 img {
    width: 200px;
    height: 80px;
}

.end-section-02
{
width: 100%;
flex-flow:row;
justify-content: space-between;
padding:10px;
}
.plus-icon {
    font-size:25px;
}

.end-section-list-content
{
    display: none;
}

.end-section-03
{
width: 100%;
flex-flow:row;
justify-content: space-between;
padding:10px;
}
.contact-detail
{
    display: none;
}
.end-section-04
{
width: 100%;
justify-content: center;
align-items: center;
}
.follow {
    display: none;
}
.appstores {
    display: flex;
    flex-flow: column;
    gap:20px;
}



