.container {
    width: 390px;
    overflow: hidden;
}
.nav-container {
    /* justify-content: space-between; */
}
.side-menu {
    display: flex;
    /* border:1px solid red; */
    width: 60px;
     
}
.side-menu i {
    background-color:transparent;
    font-size: 35px;
}
.nav-logo-img {
    width:80px;
    height: 40px;
}
.nav-links {
    display: none;
}
.get-franchise {
    display: none;
}
.order-online {
     
    background-color: red;
    padding:5px 3px;
    border-radius: 25px;
    border:1px solid white;
    font-size: 12px;
}
.order-online::after {
    display: none;
}

.order-online::before {
     font-family: "FontAwesome";
     content: "\f061";
     color:red;
     background-color: white;
     border-radius: 50%;
     margin-right:3px;
     width: 18px;
     height:18px ;
     text-align: center;
     font-size: 15px;  
     /* transform: rotate(300deg); */
     display: flex;
     align-items: center;
     justify-content: center;
}

.wellcome-section-cards {
    width: 100%;
    overflow: hidden;
}
.cards {
    flex: 0 0 auto;
}
.wellcome-row {
    display: flex;
    overflow-x:scroll;
}
.welcome-row::webkit-scrollbar {
    display: none;
    height: 2px;
}

.card-image-div {
    width:200px;
    height: 120px; 
}

.rounded-link
{
    padding:10px 20px;
    font-size: 14px;
}

.image-and-description  {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lime; */

}
.building-images {
    order:1;
    width:370px;
    border:1px solid white;
    margin-bottom: 20px;
}
.address-section {
    order:2;
}

.Row-Block-Address {
    /* border:1px solid lime; */
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}
.village-block 
{
    border:2px solid blue;
}

.village-block-image-and-description {
    /* border:1px solid lime; */
    flex-flow:column;
    text-align: center;
}
.village-img-section
{
    width:100%;
    border:1px solid gray;
}
.village-block-container {

}

.village-address {
    height: 200px;
    justify-content: center;
    margin: 0px auto;
    gap:0px;
    border:1px solid yellow;
}





