.container {
    width: 390px;
    overflow: hidden;
}
.nav-container {
    /* justify-content: space-between; */
}
.side-menu {
    display: flex;
    /* border:1px solid red; */
    width: 60px;
     
}
.side-menu i {
    background-color:transparent;
    font-size: 35px;
}
.nav-logo-img {
    width:80px;
    height: 40px;
}
.nav-links {
    display: none;
}
.get-franchise {
    display: none;
}
.order-online {
     
    background-color: red;
    padding:5px 3px;
    border-radius: 25px;
    border:1px solid white;
    font-size: 12px;
}
.order-online::after {
    display: none;
}

.order-online::before {
     font-family: "FontAwesome";
     content: "\f061";
     color:red;
     background-color: white;
     border-radius: 50%;
     margin-right:3px;
     width: 18px;
     height:18px ;
     text-align: center;
     font-size: 15px;  
     /* transform: rotate(300deg); */
     display: flex;
     align-items: center;
     justify-content: center;
}

.wellcome-section-cards {
    width: 100%;
    height:350px;
    overflow: hidden;
}
.cards {
    flex: 0 0 auto;
}
.wellcome-row {
    display: flex;
    overflow-x:scroll;
}
.welcome-row::webkit-scrollbar {
    display: none;
    height: 2px;
}







