* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body {
    background-color: black;
}
.container {
    width:1000px;
    margin:0px auto;
}
.row {
    display: flex;
    flex-flow:row;
}
.column {
    display:flex;
    flex-flow:column
}
.sp-between 
{
    justify-content:space-between;
}
.center {
     align-items: center;
    justify-content: center;
}

.nav-container
{
/* border:2px solid red; */
width: 100%;
overflow: hidden;
background-color:black;
color:white;
}
.nav {
    /* border:5px solid blue; */
    width: 100%;
}
.nav-logo-img {
    margin-left:10px;
    width:180px;
    height: 80px;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;  
    padding:0px 25px;
}
li a {
    /* border:1px solid red; */
    text-decoration: none;
    color:white;
    padding:14px 16px;
    
}

.nav-button {
    border:1px solid white;
    padding:14px 16px;
    border-radius: 24px;
    margin:10px;
    cursor: pointer;
}
.order-online {
     
    background-color: red;
    /* position: relative; */
}
.nav-button-links {
     /* border:1px solid red; */
     margin-right: 35px;
}
.arrow {
    border:5px solid white;
    color:red;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    margin-left:5px;
}
/* .cover-image-section {
    justify-content: center;
    align-items: center;
} */
.cover-image {
    width:100%;
}
/* welcome section */
.welcome-section-container
{
    border:1px solid blue;
    width:100%;
    height:400px;
    margin-top:10px;
    padding:20px 10px;
    gap:30px;
    align-items:center;
    justify-content: space-evenly;
}
.wellcome-section
{
    text-align: center;
}
.color-gray {
    margin-top:15px;
    color:gray;
    font-size: 20px;
}
.text-big {
    font-size:35px;
    font-weight: bold;
    color:white;
}

.wellcome-section-cards
{
    gap:10px;
}
.cards {
    gap:15px;
}
.card-image-div {
    /* border:1px solid red; */
    background-color: white;
    width:238px;
    height: 140px; 
    border-radius: 5px;
    background-size: 180px 110px;
    background-repeat: no-repeat;
    background-position:  center;
    /* overflow: hidden;  */
}
.card-image-01 {
     background-image: url(../Images/Small_box_logos/SNP-Restaurant.webp);

}
.card-image-02 {
     background-image: url(../Images/Small_box_logos/SNP-Express.webp);

}
.card-image-03 {
     background-image: url(../Images/Small_box_logos/SNP-Village.webp);

}
.card-image-04 {
     background-image: url(../Images/Small_box_logos/SNP-Restaurant_Signature.webp);

}


.rounded-link
{
    text-decoration: none;
    text-align: center;
    color:white;
    background-color: black;
    padding:12px 24px;
    border-radius: 25px;
    border: 1px solid white;
    font-size: 20px;
}
.card-button {
    /* justify-content: space-between; */
    align-items: center;
    /* border:1px solid red;  */
}
.cover-image-section {

}