* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
.container {
    width:1000px;
    margin:0px auto;
}
.row {
    display: flex;
    flex-flow:row;
}
.column {
    display:flex;
    flex-flow:column
}
.sp-between 
{
    justify-content:space-between;
}
.center {
     align-items: center;
    justify-content: center;
}

.nav-container
{
/* border:2px solid red; */
width: 100%;
overflow: hidden;
background-color:black;
color:white;
}
.nav {
    /* border:5px solid blue; */
    width: 100%;
}
.nav-logo-img {
    margin-left:10px;
    width:180px;
    height: 80px;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;  
    padding:0px 25px;
}
li a {
    /* border:1px solid red; */
    text-decoration: none;
    color:white;
    padding:14px 16px;
    
}

.nav-button {
    border:1px solid white;
    padding:14px 16px;
    border-radius: 24px;
    margin:10px;
    cursor: pointer;
}
.order-online {
     
    background-color: red;
    /* position: relative; */
}
.nav-button-links {
     /* border:1px solid red; */
     margin-right: 35px;
}
.arrow {
    border:5px solid white;
    color:red;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    margin-left:5px;
}