* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body {
    background-color: yellow;
}
.box {
margin:10px;
padding:0px;
}
.box_border {
    border:1px solid black;
}
.center {
    text-align:center;
}
.color_White {
    color:white;
}
.bg_color_orange {
    background:#E54D24;
}
.bg_color_blue {
    background:#0B72B8;
}
.bg_color_yellow {
    background: orange;
}
.bg_color_green {
    background-color: green;
}
ul {
    list-style-type: square;
    margin:0px 30px;
}
li {
    padding:15px 10px;
    font-size:18px;
}
#result {
    text-align:center;
}
.flex_box {
    display:flex;
    flex-flow:row;
    justify-content:space-between;
}
.section1 {
    width: 50%;
}
.section1 h3 {
    padding:10px 0px;
}
.section2 {
    background:white;
    color:black;
    width:50%;  
}
 h3{
    text-align: center;
    background:green;
    color:white;
    padding:10px 0px;
}

.sub_section {
    display: flex;
    flex-flow:row;
    justify-content:space-between;
    margin-top:20px;
}
.sub_section_row 
{
    display:flex;
    flex-flow:row;
    gap:20px;
    margin-right:5px;
}
label {
    padding-left:25px;
}
input {
    text-align:center;
    height:25px;
}
button {
    border:none;
    color:white;
    background:green;
    height: 25px;
    padding:0px 10px;
}
 .messageFailed {
    background-color: red;
    color:white; 
    padding:5px;
}
.messagePassed {
  background-color:rgb(48, 150, 48);
  color:white; 
  padding:5px;  
}
.messageHidden {
   display: none;
}
@media screen  and (max-width:600px)
{

.sub_section {
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    margin-top:0px;
}
.sub_section_row 
{
    display:flex;
    flex-flow:column;
    gap:0px;
}
.item {
     padding:7px 5px;
}
 button {
    width:100%;
    height:25px;
 }
 input {
    width:100%;
    height:25px;
 }
 label {
    text-align: center;
    padding-left:0px;
 }
}